*{
    box-sizing: border-box;
  }
    
  .navbar{
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;

    .navbar-header{
      display: flex;
      justify-content: space-between;
      align-items: center;

      .bi-list{
        font-size: 32px;
        padding: 10px;
        font-weight: bold;
        cursor: pointer;
        display: none;
      }

      .bi-list:hover{
        color: rgb(13, 170, 13);
      }
      
      a{
        text-decoration: none;

        img{
          margin-left: 20px;
          color: white;
          cursor: pointer;
        }
      }
    }

    .navbar-list{
      display: flex;
      justify-content: space-between;
      align-items: center;
      list-style-type: none;

      a{
        text-decoration: none;
        padding: 10px;
        text-transform: uppercase;
        color: black;
        font-size: 22px;
      }

      a:hover{
        color: lime;
      }
    }
  }

  /*main*/
.home{
  background-color: lime;
}

.about{
  background-color: purple;
}

.power{
  background-color: green;
}

.partners{
  background-color: aqua;
}

.services{
  background-color: gold;
}

.blog{
  background-color: orange;
}

footer{
    bottom: 0;
    width: 100%;

    img{
      background-color: lime;
      color: black;
    }
  } 